RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.php
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

ErrorDocument 400 http://localhost/0%20Web/Vision/vision.local/error/bad-request.html
ErrorDocument 401 http://localhost/0%20Web/Vision/vision.local/error/unauthorised.html
ErrorDocument 403 http://localhost/0%20Web/Vision/vision.local/error/forbidden.html
ErrorDocument 404 http://localhost/0%20Web/Vision/vision.local/error/file-not-found.html
ErrorDocument 500 http://localhost/0%20Web/Vision/vision.local/error/internal-server-error.html